.s2 {
    padding: 48 24px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.texto2 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #486284;
}
.titulo2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #486284;
}
.descripcion2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #8CA2C0;
}
.btn2 {
    width: 100%;
    border: 1px solid gray;
    background-color: #486284;
    padding: 20px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;

    color: white;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}
.btn3 {
    width: 100%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;
    color: #486284;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-top: 20px;
}
.titu3 {
    padding: 20px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9CB0C9;
}
.imagenes {
    width: 100%;
    padding: 3px;

    display: flex;
    gap: 10px;
    justify-content: center;
}
.logos div {
    width: 100px;
    height: 100px;
}
